# pre-commit run --all-files
repos:
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v4.0.1
        hooks:
        -   id: end-of-file-fixer
        -   id: trailing-whitespace
    -   repo: https://github.com/pre-commit/mirrors-mypy
        rev: v0.812
        hooks:
        -   id: mypy
            args: [--ignore-missing-imports]
    - repo: https://github.com/PyCQA/isort
      rev: 5.8.0
      hooks:
          - id: isort
    -   repo: https://github.com/psf/black
        rev: 21.5b1
        hooks:
        -   id: black
    - repo: https://github.com/PyCQA/flake8
      rev: 3.9.2
      hooks:
          - id: flake8
            additional_dependencies:
                - flake8-bugbear~=21.4.3
                - pep8-naming~=0.11.1
                - flake8-annotations~=2.6.2
                - flake8-qgis>=1.0.0
                - flake8-pytest-style==1.5.0
