-c requirements.txt

# packaging
twine
wheel

# testing
pytest-cov
pytest-qt==3.3.0

# for linting checks at commit time
pre-commit
# for ide linting
flake8
black
mypy
isort
flake8-bugbear
pep8-naming
flake8-annotations
flake8-qgis
flake8-pytest-style
