-r requirements.txt

-e file:.

# Managing dependencies
pip-tools

# testing
pytest
pytest-cov
pytest-qt==3.3.0

# for linting checks at commit time
pre-commit

# for ide linting
ruff
flake8
flake8-qgis
mypy
